.hotel {
  margin: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hotel-booking-card {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.col,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-12,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-8 {
  
  padding-left: 15px;
}
h3 {
  text-align: center;
  margin-bottom: 1rem !important;
  padding-left: 1rem;
  font-family: "Playfair Display";
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1.75rem;
}

.hotelForm {
  padding: 6px;
  background: #fff;
}

.grid-row {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}

.grid-row input {
  padding-left: 1rem;
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 50px !important;
  background: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  font-size: 14px;
}



input {
  border: none;
  min-width: 260px;
}
input:focus {
  outline: none;
}

input:placeholder{
font-weight: 400;
color: rgba(0, 0, 0, 0.9);
}

.booking-btn {
  padding: 0.9rem 1rem;
  width: 90%;
  margin: 2% 6%;
  border-radius: 4px;
  box-shadow: none !important;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
  display: inline-block;
}

.btn-pink {
  color: white;
  background-color: #fd7792;
  border: 1px solid #fd7792;
}
.btn-pink:hover {
  color: white;
  background: transparent;
  border: 1px solid #fd7792;
}

@media (min-width: 1260px) {
  .grid-row {
    grid-template-areas:
      "f f f f"
      "c c ch ch"
      "a a cd cd"
      "l l p p"
      "b b b b";
  }

  #fullname{
    width: 90%;
    margin: 0 auto;
  }

  #fullNameInput {
    grid-area: f;
  }
  #checkInInput {
    grid-area: c;
  }
  #checkOutInput {
    grid-area: ch;
  }
  #adultAgeInput {
    grid-area: a;
  }
  #childerenAgeInput {
    grid-area: cd;
  }
  #locationInput {
    grid-area: l;
  }
  #phoneNumberInput {
    grid-area: p;
  }
  
  #bookinBtn {
    grid-area: b;
  }
  
}
