.hotel {
  margin: 1rem;
}

.hotelForm {
  padding: 1.5rem;
  border-radius: 4px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hotelForm h3 {
  text-align: center;
  margin-bottom: 2rem;
  padding-left: 1rem;
  font-family: 'Playfair Display';
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1.75rem;
}

.grid-row {
  display: grid;
  grid-gap: 20px;
}

.form-input {
  padding-left: 1.5rem;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 50px !important;
  background: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  font-size: 14px;

  width: 100%;
}

.form-input:focus {
  outline: none;
}
.form-input::placeholder {
  color: rgba(0, 0, 0, 0.9);
}

.form-input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.booking-btn {
  padding: 0.9rem 1rem;
  width: 100%;
  border-radius: 4px;
  box-shadow: none !important;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
}

.btn-pink {
  color: white;
  background-color: #fd7792;
  border: 1px solid #fd7792;
}

select:focus {
  outline: none;
  width: auto;
}
select {
  padding-right: 1.5rem;
}

@media (min-width: 700px) {
  .grid-row {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .fullNameInput {
    grid-column: 1 / span 2;
  }

  #bookinBtn {
    grid-column: 1 / span 2;
  }
}
