.all-hotels-section {
  padding: 0;
}

.list-wrapper-hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.covid-info {
  background: #e83e8c;
  color: #fff;
  padding: 0.5rem;
}
.covid-info svg {
  color: #fff;
}
.covid-info p {
  text-align: justify;
  font-size: 12px;
}
.hotel-found-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin: 0.5rem;
}

.heading-found {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.price-found-per-night {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ff5a5f;
}

@media (max-width: 900px) {
  .filter-div {
    display: none;
  }
}

@media (min-width: 910px) {
  .list-wrapper-hotels {
    margin-top: 2rem;
  }

  .hotel-found-div {
    margin-top: 1rem;
  }
}

@media (min-width: 1100px) {
  .all-hotels-div {
    display: flex;
  }
  .desktop-div-hotels-card {
    display: block;
    width: 70%;
  }
  .all-hotels-div .divider {
    border-left: 2px solid rgb(221, 220, 220);
  }
  .filter-div {
    width: 20%;
    border-right: #000000;
    padding: 1rem;
  }
  .filter-heading-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filter-heading-div .filter-heading {
    font-weight: 700;
    font-size: 26px;
  }
  .filter-heading-div .clear-all-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ff5a5f;
  }
}

@media (min-width: 1200px) {
  .list-wrapper-hotels {
    margin-top: 6rem;
    display: block;
  }
  .covid-info p {
    text-align: center;
  }

  .hotel-found-div {
    margin: 2rem;
  }
}
