.nav-container {
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  flex-wrap: wrap;
}

nav .logo-section {
  display: flex;
  align-items: center;
  font-weight: 700;
  white-space: nowrap;
  font-size: 1rem;
  color: #000000;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

nav .logo-section .nav-link span {
  color: #ff5a5f;
}

nav .search-block {
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #d9dde7;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

nav input {
  border: none;
  min-width: 190px;
}

nav input:focus {
  outline: none;
}

nav ul {
  display: none;
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding: 1rem;
  background-color: whitesmoke;
  margin-top: 1rem;
}

nav ul.show {
  display: block;
}

nav ul li {
  padding-bottom: 1rem;
}

nav ul li:last-child {
  padding-bottom: 0;
}

@media (min-width: 500px) {
  nav .logo-section {
    font-size: 1.5rem;
  }
}

@media (min-width: 1023px) {
  .hamburger {
    display: none;
  }
  nav ul.nav-list {
    width: auto;
    display: flex;
    align-items: center;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  nav ul.nav-list li {
    padding-bottom: 0;
    margin-left: 1.8rem;
  }
  nav {
    flex-wrap: nowrap;
    padding: 1rem 1.5rem;
  }
  .nav-logo {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .nav-container {
    min-width: 100%;
  }
  nav {
    padding: 1rem 1.5rem;
  }
  .nav-link {
    font-size: 14px;
  }
  .hero_book_form_block {
    margin-right: 10%;
  }

  .nav-logo {
    font-size: 1.2rem;
  }

  nav input {
    border: none;
    min-width: 690px;
  }
  nav .search-block {
    margin-left: 5rem;
    padding: 0.9rem 1rem;
  }
}
